.course-image {
  width: 100%;
  height: 150px;
}
.course-title,
.course-description {
  line-height: 1.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3.2rem;
}
.course-title {
  -webkit-line-clamp: 1;
}
.course-item .card {
  box-shadow: 0 0 0 1px #0000000d, 0 3px 6px 1px #0000000d;
}
