.main {
  background: url(../../assets/images/bglogin.png);
  background-repeat: no-repeat;
  background-size: cover;
  //   background-size: 100% 100%;}
}
.login {
  height: 100%;
  //   font-family: 'Poppins';
  form {
    max-width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 40px;
    .welcom {
      font-weight: 400;
      color: #000000;
      @media screen and (min-width: 768px) {
        font-size: 21px;
      }
      span {
        font-weight: 600;
        color: #779341;
      }
    }
    .no-account a {
      font-size: 13px;
      text-decoration: none;
      color: #779341;
      &:hover {
        text-decoration: underline;
      }
    }
    .title {
      font-weight: 500;
      font-size: 55px;
      line-height: 82px;
      margin-bottom: 30px;
    }
    .login {
      margin-bottom: 50px;
      &-fb,
      &-github {
        width: 60px;
        height: 60px;
        background: #ffffff;
        border-radius: 9px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      &-google {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        background: #e9f1ff;
        border-radius: 9px;
        color: #4285f4;
        cursor: pointer;
        display: flex;
        align-items: center;
        img {
          margin-right: 5px;
        }
        @media screen and (min-width: 768px) {
          padding: 15px 20px;
          img {
            margin-right: 20px;
          }
        }
      }
    }
    .username,
    .password {
      margin-top: 38px;
    }
    label {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    input {
      background: #ffffff;
      border: 1px solid #adadad;
      box-sizing: border-box;
      border-radius: 9px;
      font-weight: 300;
      font-size: 14px;
      padding: 12px 20px;
      color: #808080;
    }
    @media screen and (min-width: 768px) {
      min-width: 480px;
      padding: 40px;
    }
  }
  .btn:hover {
    background-color: rgb(120, 206, 177);
  }
  .sign-in {
    display: inline-block;
    background: #779341;
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
    border-radius: 10px;
    padding: 12px 60px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    margin-top: 40px;
  }
  .forgot {
    font-size: 13px;
    text-align: end;
    color: #4285f4;
    margin-bottom: 44px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
